<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}" />
    <title>Title</title>
</head>
<body>

    <div class="header">
        <div class="container">
            <div>
                    <ul class="header_menu">
                        {% for category in menu_category_list %}
                                <li><a href="{% url 'detail_category' category.slug %}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>


            </div>
        </div>

    </div>

</body>
</html>