<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
      {% load  static %}
      <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
      
      <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
        crossorigin="anonymous" />
       <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>


    <title>Title</title>
  </head>

  <body>

  
     <div class="detail">
        <div class="container">
            <div class="cards">

              <div class="left-content">
                  {% for img in object.productimage_set.all %}
                  <img height="300px" width="200" src="{{MEDIA_URL}}{{img.path.url}}" alt="">
                  {% endfor %}

              </div>
              <div class="right-content">
                  <span class="title"><h1>{{ object.name }}</h1></span>
                      {% for author in object.author.all %}
                      <span class="author">{{ author }}</span>
                      {% endfor %}
                  <span class="description">{{ object.description }}</span>
                  
                  <div class="price">
                    <span>{{ object.price}}</span>
                    <i class="fas fa-euro-sign"></i>
                  </div>

                   <div class="quantity">

                    <input class="quantity-field" type="number" name="quantity" min="1" max="5" placeholder="шт." required>
                    <input class="button-quantity" type="submit" value="в корзину" >
                   </div>

                  <div class="right-content-bottom" >
                    
                  </div>
                  

              </div>
            </div>
          
        </div>
  </div>
         <script>

              $('.button-quantity').click(function () {
                  $number =  $('.quantity-field').val();

                  $.ajax({
                        url: 'quantity/',
                        method: 'GET', // or another (GET), whatever you need
                        data: {
                            prod: $number,

                          }
                  });

                        });

         </script>



  </body>

</html>