/*--------------Reset---------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------cammon start------------------*/
* {
  box-sizing: border-box;
}

body {
  padding: 10px 0;
  
  
}

.bc {
  background-color: #f4a460;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
a,
span {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}
/*-----------------cammon end------------------*/

.header_menu {
  display: flex;

  
}

.header_menu li {
  list-style: none;
  margin-right: 25px;
}

.main{
  padding-top: 50px;;
}

.product {
  display: flex;
  
}

.cards {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.right-content{
  display: flex;
  flex-direction: column;
}
.right-content span {
  margin-bottom: 10px;
}



.title {
  font-weight: bold;
  font-size: larger;
}


.price {
  display: block;
  text-align: center;
  background-color: orangered;
  width: 85px;
  height: 30px;
  padding-top: 6px;
  margin-top:5px ;
  
}

.price > span, .price > i {
  color: white;
  font-weight: 600;
}

.price > i {
  font-size: smaller;
}

.quantity{
  margin-top: 20px;

}

.quantity input{
  display: block;
}

.quantity-field{
  padding-left: 17px;
}

.button-quantity{
  margin-top: 15px;
}

/*
переделать
*/
.detail{
  margin-top: 5px;

}
.detail-menu{
  display: inline-block;
  text-align: end;
  width: 600px;
  margin-bottom: 15px;
  visibility: hidden;
}



.messagefield{
    height: 30px;
    width: 200px;
    background: sandybrown;
    border-radius: 5px;
    margin: 0 auto;
    visibility: hidden;
}

.sysmessage{
    padding: 7px;
    color: black;
    margin: 10px 0;

}

.cart-product{
    display: flex;
    padding-top: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    
}

.cart-product > span{
    margin-right: 20px;
}



.cart-product > div{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    
 }
.plus, .minus{

    margin-left: 15px;
    margin-right: 15px;
    font-size:15px;
    font-weight: bold;
    border: none;
    background: none;

 }

.cart-price {
    margin-left: 10px;
}

.del-product{
    margin-left: 15px;
    border: none;
    background: none;
}

.total-price-block{
    display: flex;
    justify-content: center;
    margin-top: 15px;


}

.current-total-price {

     border: 1px solid grey;
     border-radius: 5px;
     width: 85px;
     height: 30px;
     text-align:center;
     padding-top: 5px;


}

.go-to-order{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}


.tabContainer{
    width: 500px;
    height: 365px;

}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 30%;
    height: 100%;
    float: left;

    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;

    border: 1px solid #DCDCDC;
    border-radius: 6px;
}
.tabContainer .buttonContainer button:hover{
    background-color: white;
}
.tabContainer .tabPanel{
    height: 90%;
    width: 450px;
    color: black;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}



.current-order{
    display: flex;
    margin-top: 5px;

}

.current-order > div {
    display: flex;
    flex-direction: row;

}

.order-quantity{
    margin-left: 10px;
    margin-right: 10px;
}

.current-order > div > span, .order-current-total-price > span{
    margin-left: 5px;
}

.tabContainer, .delivery-form{
    margin-top:20px;

}

.order-title{
    margin-bottom: 20px;
}
  
.name-data > p, .tabcontent > p {
    margin-bottom:6px;
    margin-top:6px;
}
.order-total-price{
    margin-top: 5px;

}
/* Style the tab */
.common-tab{
    width: 454px;
    height: 325px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 20px;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  height: 40px;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {

  display: none;
  padding: 12px 12px;
  border-top: none;
}
.choice-postoffice{
    display: flex;
    margin-bottom: 7px;
}

.choice-postoffice > p{

    margin-left: 5px;
}


.payment, .order-button {

    margin-left:15px;

}

.order-button{
    margin-top: 10px;
}