/*--------------Reset---------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------cammon start------------------*/
* {
  box-sizing: border-box;

}

body {

  padding: 10px 0;

}

.bc {
  background-color: #f4a460;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
a,
span {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}
/*-----------------cammon end------------------*/

.header_menu{
    display: flex;
 }

.header_menu li{
    list-style: none;
    margin: 0 0 0 20px;
  }

.products{
  display: flex;
}

.cards{
    display: flex;
    max-width: 500px;
    margin-bottom: 40px;
    margin-left: 20px;
     
 }

.left-content{
  display: flex;
  flex-direction: column;
  
}

 .right-content{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   
 }



.right-content span{
   
    margin-top: 5px;
    margin-bottom: 5px;

  }

  .quantity-form{
    margin-top: 10px;
    
  }

  .quantity-form span{
    display: block;
    
    
  }


  .title{

    font-weight: bold;
    font-size: larger;
  }

  .price{
    background-color: orangered;
    width: 150px;
    height: 30px;
    
  }
  .price>span{
    color: white;
    text-align: center;
    font-weight: 700;
    padding-top: 6px;
   
  }

